<!DOCTYPE html>
<html>
  <head>
    <title>Landfill Club – Explore US Landfills by Area</title>
    <meta name="description" content="Viz of all the Landfills in America.">
    <meta name="author" content="EcoHack Spring '14">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">

    <script type="text/javascript" src="//use.typekit.net/yex6lso.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div class="header-container">
      <header class="header">
        <h1 class="site-title">Maps and Visualizations</h1>
      </header>
      <nav class="navigation">
        <a href="/">Overview</a>
        <a href="/list">Landfill List</a>
        <a href="/maps">Maps and 3D</a>
      </nav>
    </div>
    <div class="content-container">
      <section class="map">
        <h1>Number of People Per Landfill</h1>
        <img src="/img/number-of-landfills-per-capita.jpg" />
      </section>
      <section class="map">
        <h1>Number of Landfills per State</h1>
        <img src="/img/number-of-landfills-per-state.jpg" />
      </section>
      <section class="map">
        <h1>Landfills by Size</h1>
        <iframe width="100%" height="500" src="http://bl.ocks.org/andrewxhill/raw/5588148/"></iframe>
      </section>
    </div>
    <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/sketch.js"></script>
    <script type="text/javascript" src="/js/trash-min.js"></script>
  </body>
</html>

