<!DOCTYPE html>
<html>
  <head>
    <title>Landfill Club – Explore US Landfills by Area</title>
    <meta name="description" content="Viz of all the Landfills in America.">
    <meta name="author" content="EcoHack Spring '14">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">

    <script type="text/javascript" src="//use.typekit.net/yex6lso.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div class="header-container">
      <header class="header">
        <h1 class="site-title">Landfill Club</h1>
      </header>
      <nav class="navigation">
        <a href="/">Overview</a>
        <a href="/list">Landfill List</a>
        <a href="/maps">Maps and 3D</a>
      </nav>
    </div>
    <div class="content-container">
      <div class="main-page">
      <h1>A Heap of a Responsibility: We want to get people thinking about where their trash goes.</h1>
      <p>This is a project from EcoHack Spring 2014 held in Brooklyn, we set out to document the relative sizes of landfills, their locations, and impact.</p>

      <p>The polygon data is compiled from the CrowdCrafting project: <a href="http://crowdcrafting.org/app/landfill/">http://crowdcrafting.org/app/landfill/</a>, and there's thousands more landfills to map! We'd love your help.</p>

      <p>Team Members: Emily Sturdivant, Jonathan Levy, Kim Fisher, Nicholas Johnson, Josselin Philippe, Olex Ponomarenko, and Elliott Walker (script girl) </p>
</div>
    </div>
    <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/sketch.js"></script>
    <script type="text/javascript" src="/js/trash-min.js"></script>
  </body>
</html>


